In [1]:
%matplotlib inline
import numpy as np
import matplotlib.tri as Tri
import matplotlib.pyplot as plt
#from mpl_toolkits.basemap import Basemap
from netCDF4 import Dataset as NetCDFFile 
import netCDF4
from netCDF4 import num2date, date2num, date2index
import datetime as dt
import pandas as pd
from StringIO import StringIO
import xarray as xr

/Users/bgh2-ra/anaconda2/lib/python2.7/site-packages/dask/config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
/Users/bgh2-ra/anaconda2/lib/python2.7/site-packages/distributed/config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

In [28]:
nameCSV = 'innisfail_file.csv'
df = pd.read_csv(str(nameCSV), sep=r'\s+', engine='c', header=0, na_filter=False, \
                               dtype=np.float, low_memory=False)

data = df.sort_values(by=['tt'])

lat = data.values[:,0]
lon = data.values[:,1]
wh = data.values[:,2]
tt = data.values[:,3]
qc = data.values[:,4]

In [77]:
netCDF4.num2date(tt[0:200],u'days since 1985-01-01 00:00:00 UTC')

array([datetime.datetime(1985, 3, 31, 8, 13, 20, 375002),
       datetime.datetime(1985, 3, 31, 8, 13, 21, 351561),
       datetime.datetime(1985, 3, 31, 8, 13, 22, 335935),
       datetime.datetime(1985, 3, 31, 8, 13, 23, 312504),
       datetime.datetime(1985, 3, 31, 8, 13, 24, 296878),
       datetime.datetime(1985, 3, 31, 8, 13, 25, 273437),
       datetime.datetime(1985, 3, 31, 8, 13, 26, 257811),
       datetime.datetime(1985, 3, 31, 8, 13, 27, 234380),
       datetime.datetime(1985, 3, 31, 8, 13, 31, 156245),
       datetime.datetime(1985, 3, 31, 8, 13, 32, 132814),
       datetime.datetime(1985, 3, 31, 8, 13, 33, 117188),
       datetime.datetime(1985, 3, 31, 8, 13, 34, 93747),
       datetime.datetime(1985, 3, 31, 8, 13, 35, 70316),
       datetime.datetime(1985, 3, 31, 8, 13, 36, 54690),
       datetime.datetime(1985, 3, 31, 8, 13, 37, 31249),
       datetime.datetime(1985, 3, 31, 8, 13, 38, 15623),
       datetime.datetime(1985, 3, 31, 8, 13, 38, 992192),
       datetime.datetime(1985, 3, 31, 8, 13, 39, 976566),
       datetime.datetime(1985, 3, 31, 8, 13, 40, 953124),
       datetime.datetime(1985, 3, 31, 8, 13, 41, 929683),
       datetime.datetime(1985, 3, 31, 8, 13, 42, 914067),
       datetime.datetime(1985, 3, 31, 8, 13, 43, 890626),
       datetime.datetime(1985, 3, 31, 8, 13, 44, 875000),
       datetime.datetime(1985, 3, 31, 8, 13, 45, 851559),
       datetime.datetime(1985, 3, 31, 8, 13, 46, 835933),
       datetime.datetime(1985, 3, 31, 8, 13, 47, 812502),
       datetime.datetime(1985, 3, 31, 8, 13, 48, 789061),
       datetime.datetime(1985, 3, 31, 8, 13, 49, 773435),
       datetime.datetime(1985, 3, 31, 8, 13, 50, 750003),
       datetime.datetime(1985, 3, 31, 8, 13, 51, 734378),
       datetime.datetime(1985, 3, 31, 8, 13, 52, 710936),
       datetime.datetime(1985, 3, 31, 8, 13, 53, 695310),
       datetime.datetime(1985, 3, 31, 8, 13, 54, 671879),
       datetime.datetime(1985, 4, 3, 8, 22, 16, 453125),
       datetime.datetime(1985, 4, 3, 8, 22, 17, 429683),
       datetime.datetime(1985, 4, 3, 8, 22, 18, 414067),
       datetime.datetime(1985, 4, 3, 8, 22, 19, 390626),
       datetime.datetime(1985, 4, 3, 8, 22, 20, 367185),
       datetime.datetime(1985, 4, 3, 8, 22, 21, 351559),
       datetime.datetime(1985, 4, 3, 8, 22, 22, 328128),
       datetime.datetime(1985, 4, 3, 8, 22, 23, 312502),
       datetime.datetime(1985, 4, 3, 8, 22, 24, 289061),
       datetime.datetime(1985, 4, 3, 8, 22, 25, 273435),
       datetime.datetime(1985, 4, 3, 8, 22, 26, 250004),
       datetime.datetime(1985, 4, 3, 8, 22, 27, 226562),
       datetime.datetime(1985, 4, 3, 8, 22, 28, 210936),
       datetime.datetime(1985, 4, 3, 8, 22, 29, 187495),
       datetime.datetime(1985, 4, 3, 8, 22, 30, 171879),
       datetime.datetime(1985, 4, 3, 8, 22, 31, 148438),
       datetime.datetime(1985, 4, 3, 8, 22, 33, 109371),
       datetime.datetime(1985, 4, 5, 21, 26, 14, 31253),
       datetime.datetime(1985, 4, 5, 21, 26, 15, 15627),
       datetime.datetime(1985, 4, 5, 21, 26, 16, 1),
       datetime.datetime(1985, 4, 5, 21, 26, 16, 968755),
       datetime.datetime(1985, 4, 8, 21, 34, 49, 531253),
       datetime.datetime(1985, 4, 8, 21, 34, 50, 515627),
       datetime.datetime(1985, 4, 8, 21, 34, 51, 500001),
       datetime.datetime(1985, 4, 8, 21, 34, 56, 390621),
       datetime.datetime(1985, 4, 8, 21, 34, 57, 375005),
       datetime.datetime(1985, 4, 8, 21, 34, 58, 359379),
       datetime.datetime(1985, 4, 8, 21, 34, 59, 328122),
       datetime.datetime(1985, 4, 8, 21, 35, 0, 312496),
       datetime.datetime(1985, 4, 8, 21, 35, 1, 296870),
       datetime.datetime(1985, 4, 8, 21, 35, 2, 265624),
       datetime.datetime(1985, 4, 8, 21, 35, 4, 234372),
       datetime.datetime(1985, 4, 8, 21, 35, 5, 218746),
       datetime.datetime(1985, 4, 8, 21, 35, 6, 187500),
       datetime.datetime(1985, 4, 8, 21, 35, 7, 171874),
       datetime.datetime(1985, 4, 8, 21, 35, 8, 156248),
       datetime.datetime(1985, 4, 8, 21, 35, 9, 125001),
       datetime.datetime(1985, 4, 8, 21, 35, 10, 109375),
       datetime.datetime(1985, 4, 8, 21, 35, 11, 93749),
       datetime.datetime(1985, 4, 8, 21, 35, 12, 78124),
       datetime.datetime(1985, 4, 8, 21, 35, 13, 46877),
       datetime.datetime(1985, 4, 8, 21, 35, 14, 31251),
       datetime.datetime(1985, 4, 8, 21, 35, 22, 843746),
       datetime.datetime(1985, 4, 8, 21, 35, 23, 828120),
       datetime.datetime(1985, 4, 11, 21, 43, 47, 562503),
       datetime.datetime(1985, 4, 11, 21, 43, 48, 546877),
       datetime.datetime(1985, 4, 11, 21, 43, 49, 531251),
       datetime.datetime(1985, 4, 11, 21, 43, 50, 515625),
       datetime.datetime(1985, 4, 11, 21, 43, 51, 484379),
       datetime.datetime(1985, 4, 11, 21, 43, 52, 468753),
       datetime.datetime(1985, 4, 11, 21, 43, 53, 453127),
       datetime.datetime(1985, 4, 11, 21, 43, 54, 421870),
       datetime.datetime(1985, 4, 11, 21, 43, 55, 406255),
       datetime.datetime(1985, 4, 11, 21, 43, 56, 390629),
       datetime.datetime(1985, 4, 11, 21, 43, 57, 375003),
       datetime.datetime(1985, 4, 11, 21, 43, 58, 343746),
       datetime.datetime(1985, 4, 11, 21, 43, 59, 328120),
       datetime.datetime(1985, 4, 11, 21, 44, 0, 312504),
       datetime.datetime(1985, 4, 11, 21, 44, 1, 281248),
       datetime.datetime(1985, 4, 11, 21, 44, 2, 265622),
       datetime.datetime(1985, 4, 23, 9, 53, 9, 546872),
       datetime.datetime(1985, 4, 23, 9, 53, 10, 531246),
       datetime.datetime(1985, 4, 23, 9, 53, 11, 507815),
       datetime.datetime(1985, 4, 23, 9, 53, 12, 484374),
       datetime.datetime(1985, 4, 23, 9, 53, 14, 445316),
       datetime.datetime(1985, 4, 23, 9, 53, 15, 429691),
       datetime.datetime(1985, 4, 23, 9, 53, 16, 406249),
       datetime.datetime(1985, 4, 23, 9, 53, 17, 390623),
       datetime.datetime(1985, 4, 23, 9, 53, 18, 367192),
       datetime.datetime(1985, 4, 23, 9, 53, 19, 343751),
       datetime.datetime(1985, 4, 23, 9, 53, 20, 328125),
       datetime.datetime(1985, 4, 23, 9, 53, 21, 304684),
       datetime.datetime(1985, 4, 23, 9, 53, 22, 289058),
       datetime.datetime(1985, 4, 23, 9, 53, 23, 265627),
       datetime.datetime(1985, 4, 23, 9, 53, 24, 250001),
       datetime.datetime(1985, 4, 23, 9, 53, 25, 226560),
       datetime.datetime(1985, 4, 23, 9, 53, 26, 203128),
       datetime.datetime(1985, 4, 23, 9, 53, 27, 187502),
       datetime.datetime(1985, 4, 23, 9, 53, 28, 164061),
       datetime.datetime(1985, 4, 23, 9, 53, 29, 148435),
       datetime.datetime(1985, 4, 23, 9, 53, 30, 125004),
       datetime.datetime(1985, 4, 23, 9, 53, 31, 109378),
       datetime.datetime(1985, 4, 26, 10, 1, 47, 984374),
       datetime.datetime(1985, 4, 26, 10, 1, 48, 960932),
       datetime.datetime(1985, 4, 26, 10, 1, 49, 945317),
       datetime.datetime(1985, 4, 26, 10, 1, 50, 921875),
       datetime.datetime(1985, 4, 26, 10, 1, 51, 906249),
       datetime.datetime(1985, 4, 26, 10, 1, 52, 882808),
       datetime.datetime(1985, 4, 26, 10, 1, 53, 867192),
       datetime.datetime(1985, 4, 26, 10, 1, 54, 843751),
       datetime.datetime(1985, 4, 26, 10, 1, 55, 820310),
       datetime.datetime(1985, 4, 26, 10, 1, 56, 804684),
       datetime.datetime(1985, 4, 26, 10, 1, 57, 781253),
       datetime.datetime(1985, 4, 26, 10, 2, 2, 679687),
       datetime.datetime(1985, 4, 26, 10, 2, 3, 664061),
       datetime.datetime(1985, 4, 26, 10, 2, 4, 640620),
       datetime.datetime(1985, 4, 26, 10, 2, 5, 625004),
       datetime.datetime(1985, 4, 26, 10, 2, 6, 601563),
       datetime.datetime(1985, 4, 26, 10, 2, 7, 585937),
       datetime.datetime(1985, 4, 26, 10, 2, 8, 562496),
       datetime.datetime(1985, 4, 26, 10, 2, 9, 539065),
       datetime.datetime(1985, 4, 26, 10, 2, 10, 523439),
       datetime.datetime(1985, 4, 26, 10, 2, 11, 499998),
       datetime.datetime(1985, 4, 26, 10, 2, 12, 484372),
       datetime.datetime(1985, 4, 26, 10, 2, 13, 460940),
       datetime.datetime(1985, 4, 26, 10, 2, 14, 445314),
       datetime.datetime(1985, 4, 26, 10, 2, 15, 421873),
       datetime.datetime(1985, 4, 26, 10, 2, 16, 398442),
       datetime.datetime(1985, 4, 26, 10, 2, 17, 382816),
       datetime.datetime(1985, 4, 26, 10, 2, 18, 359375),
       datetime.datetime(1985, 4, 26, 10, 2, 19, 343749),
       datetime.datetime(1985, 4, 26, 10, 2, 20, 320308),
       datetime.datetime(1985, 4, 26, 10, 2, 21, 304692),
       datetime.datetime(1985, 4, 26, 10, 2, 22, 281251),
       datetime.datetime(1985, 5, 16, 11, 33, 12, 335938),
       datetime.datetime(1985, 5, 16, 11, 33, 13, 320312),
       datetime.datetime(1985, 5, 16, 11, 33, 14, 296871),
       datetime.datetime(1985, 5, 16, 11, 33, 15, 281255),
       datetime.datetime(1985, 5, 16, 11, 33, 16, 257814),
       datetime.datetime(1985, 6, 23, 2, 51, 53, 314448),
       datetime.datetime(1985, 6, 23, 2, 51, 54, 294920),
       datetime.datetime(1985, 6, 23, 2, 51, 55, 275391),
       datetime.datetime(1985, 6, 23, 2, 51, 56, 253901),
       datetime.datetime(1985, 6, 23, 2, 51, 57, 234373),
       datetime.datetime(1985, 6, 23, 2, 51, 58, 214844),
       datetime.datetime(1985, 6, 23, 2, 51, 59, 195316),
       datetime.datetime(1985, 6, 23, 2, 52, 0, 173826),
       datetime.datetime(1985, 6, 23, 2, 52, 1, 154297),
       datetime.datetime(1985, 6, 23, 2, 52, 2, 134769),
       datetime.datetime(1985, 6, 23, 2, 52, 3, 113279),
       datetime.datetime(1985, 6, 23, 2, 52, 4, 93750),
       datetime.datetime(1985, 6, 23, 2, 52, 5, 74222),
       datetime.datetime(1985, 6, 23, 2, 52, 6, 54683),
       datetime.datetime(1985, 6, 23, 2, 52, 7, 33203),
       datetime.datetime(1985, 6, 23, 2, 52, 8, 13675),
       datetime.datetime(1985, 6, 23, 2, 52, 8, 994136),
       datetime.datetime(1985, 6, 23, 2, 52, 9, 972656),
       datetime.datetime(1985, 6, 23, 2, 52, 10, 953128),
       datetime.datetime(1985, 6, 23, 2, 52, 11, 933589),
       datetime.datetime(1985, 7, 30, 16, 49, 25, 31249),
       datetime.datetime(1985, 7, 30, 16, 49, 26, 15623),
       datetime.datetime(1985, 7, 30, 16, 49, 26, 999997),
       datetime.datetime(1985, 7, 30, 16, 49, 27, 968750),
       datetime.datetime(1985, 7, 30, 16, 49, 28, 953124),
       datetime.datetime(1985, 7, 30, 16, 49, 29, 937498),
       datetime.datetime(1985, 7, 30, 16, 49, 30, 921873),
       datetime.datetime(1985, 7, 30, 16, 49, 32, 875000),
       datetime.datetime(1985, 7, 30, 16, 49, 33, 859374),
       datetime.datetime(1985, 7, 30, 16, 49, 34, 828128),
       datetime.datetime(1985, 7, 30, 16, 49, 36, 796876),
       datetime.datetime(1985, 7, 30, 16, 49, 37, 781250),
       datetime.datetime(1985, 7, 30, 16, 49, 38, 750004),
       datetime.datetime(1985, 8, 19, 18, 20, 5, 281252),
       datetime.datetime(1985, 8, 19, 18, 20, 6, 265626),
       datetime.datetime(1985, 8, 19, 18, 20, 7, 250000),
       datetime.datetime(1985, 8, 19, 18, 20, 8, 234374),
       datetime.datetime(1985, 8, 19, 18, 20, 10, 187501),
       datetime.datetime(1985, 8, 19, 18, 20, 11, 171876),
       datetime.datetime(1985, 8, 19, 18, 20, 12, 140629),
       datetime.datetime(1985, 8, 19, 18, 20, 13, 125003),
       datetime.datetime(1985, 8, 19, 18, 20, 14, 109377),
       datetime.datetime(1985, 8, 19, 18, 20, 15, 93751),
       datetime.datetime(1985, 8, 19, 18, 20, 16, 62505),
       datetime.datetime(1985, 8, 19, 18, 20, 17, 46879),
       datetime.datetime(1985, 8, 22, 18, 28, 41, 765626),
       datetime.datetime(1985, 8, 22, 18, 28, 42, 750000),
       datetime.datetime(1985, 8, 22, 18, 28, 43, 718753)], dtype=object)

In [ ]:
139403/20

In [3]:
len(tt)

139403

In [47]:
#TEST TO SEE ALL HIGH VALUES
idd = np.where(np.logical_and(wh>12, wh<13))[0]

for k in range(len(idd)):
    print wh[idd[k]], netCDF4.num2date(tt[idd[k]],u'days since 1985-01-01 00:00:00 UTC')

12.359000205993652 2013-05-18 20:21:41.500005
12.40000057220459 2014-04-12 14:16:28.109379
12.688000679016113 2014-04-12 14:16:35.249996
12.646000862121582 2017-01-14 11:20:25.585933
12.178000450134276 2018-02-16 21:52:04.000004
12.976000785827635 2018-02-16 21:52:07.765624

In [10]:
tt1 = netCDF4.num2date(tt,u'days since 1985-01-01 00:00:00 UTC')
print tt1[0], wh[0]
print netCDF4.num2date(max(tt),u'days since 1985-01-01 00:00:00 UTC')

2016-10-17 05:33:22.656250 1.0600000619888306
2019-02-20 12:17:03.000003

In [33]:
#MAKE MEAN SATELLITE TRACK. DOESNT SEEM TO WORK??
days = [] #daystart
for k in range(len(tt)):
       
    t1 = netCDF4.num2date(tt[k],u'days since 1985-01-01 00:00:00 UTC')
    if k == 0: #get day 0. Then else: every day after that
        days.append(0)
        dd = netCDF4.num2date(tt[k],u'days since 1985-01-01 00:00:00 UTC')
        it = 0
    else:
        if t1.day != dd.day: #if day 1 is not equal to day 2, then append
            #print dd.day,t1.day
            days.append(k)
            it += 1
            dd = netCDF4.num2date(tt[k],u'days since 1985-01-01 00:00:00 UTC')

In [72]:
print netCDF4.num2date(tt[days[0]],u'days since 1985-01-01 00:00:00 UTC')#same as first record

# meanwh is the mean wh of each day (satellite track)
meanwh = []

for k in range(len(days)-1):
    meanwh.append(np.mean(wh[days[k]:days[k+1]])) 
    
print np.mean(meanwh), 'mean from each satellite track'
print np.mean(wh), 'mean from each record'
print len(wh), 'number of records'
print len(meanwh), 'number of satellite tracks'

#slightly different mean wh depending on if done by day, or individual records (each second)

1985-03-31 08:13:20.375002
1.4414013196123379 mean from each satellite track
1.4463256999402663 mean from each record
139403 number of records
3761 number of satellite tracks

In [70]:
netCDF4.num2date(days,u'days since 1985-01-01 00:00:00 UTC')

array([real_datetime(1985, 1, 1, 0, 0), real_datetime(1985, 2, 3, 0, 0),
       real_datetime(1985, 2, 20, 0, 0), ...,
       real_datetime(2366, 1, 16, 0, 0), real_datetime(2366, 3, 9, 0, 0),
       real_datetime(2366, 5, 23, 0, 0)], dtype=object)

In [75]:
139403/20

6970

In [49]:
#why does this give me different mean wh value?

wh_ = wh[days]
qc_ = qc[days]
lon_ = lon[days]
tt_ = tt[days]
lat_ = lat[days]

print max(wh_)
print min(wh_)
print len(tt)
print len(days)
print np.mean(wh_)

24.345001220703125
0.0
139403
3762
1.5149176677001728

In [54]:
#for k in range(len(days)):
#    if wh_[k]>5:
#        print wh_[k], netCDF4.num2date(tt_[k],u'days since 1985-01-01 00:00:00 UTC')

In [50]:
#This should be average per track, wh above 7.

for k in range(len(wh_)):
    if wh_[k]>7:
        print wh_[k], netCDF4.num2date(tt_[k],u'days since 1985-01-01 00:00:00 UTC')

13.909000396728516 2010-11-03 09:53:04.562499
24.345001220703125 2013-02-18 14:34:14.718752
7.449000358581543 2018-02-04 20:13:31.281250
22.916000366210934 2019-02-14 20:13:04.171871
20.75900077819824 2019-02-17 07:54:21.453127

In [51]:
daywh = [] #daystart
for k in range(len(tt)):
    if wh[k]<10:
        t1 = netCDF4.num2date(tt[k],u'days since 1985-01-01 00:00:00 UTC')
        if k == 0: #get day 0. Then else: every day after that
            daywh.append(0)
            dd = netCDF4.num2date(tt[k],u'days since 1985-01-01 00:00:00 UTC')
            it = 0
        else:
            if t1.day != dd.day: #if day 1 is not equal to day 2, then append
                #print dd.day,t1.day
                daywh.append(k)
                it += 1
                dd = netCDF4.num2date(tt[k],u'days since 1985-01-01 00:00:00 UTC')

In [52]:
len(daywh)

3760

In [53]:
wh2 = wh[daywh]
qc2 = qc[daywh]
lon2 = lon[daywh]
tt2 = tt[daywh]
lat2 = lat[daywh]

print max(wh2)
print min(wh2)
print len(tt2)
print np.mean(wh2)

7.449000358581543
0.0
3760
1.4956971444788965

In [ ]:
for k in range(len(wh2)):
    if wh2[k]>7:
        print wh2[k], netCDF4.num2date(tt2[k],u'days since 1985-01-01 00:00:00 UTC')

In [ ]:
netCDF4.num2date(12087.8427231626124,u'days since 1985-01-01 00:00:00 UTC')

In [ ]:
print np.mean(wh2), 'mean'
print max(wh2), 'max'
print min(wh2), 'min'

In [ ]:
 for p in range(len(timing)):
            #print(u,' - ',k,'/',len(urlON),' - ',p,'/',len(timing))
            if timing[p] >= start_date and timing[p] <= end_date:
                if lats[p]>latmin and lats[p]<latmax and lons[p]>lonmin and lons[p]<lonmax:
                    if np.where(np.logical_and(0<wh[p]<10,qc[p]==1)):
                        boxLat.append(lats[p])